@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'titleFont';
  /* src: local('BomberEscortGradient'), url(/src/fonts/BomberEscortGradient.otf); */
  /* src: local('BomberEscortGradientOutlineItalic'), url(/src/fonts/BomberEscortOutlineItalic.otf); */
  src: local('DarkSeed'), url(/src/fonts/DarkSeed.ttf) format('truetype');
  /* src: local('Spantaran'), url(/src/fonts/Spantaran.ttf) format('truetype'); */
}

/* @keyframes flash {
  9% { opacity:0; }
  10% { opacity:1; }
  11% { opacity:0; }
  49% { opacity:0; }
  50% { opacity:1; }
  51% { opacity:0; }
  89% { opacity:0; }
  90% { opacity:1; }
  91% { opacity:0; }
  92% { opacity:0; }
  93% { opacity:1; }
  94% { opacity:0; }
} */
@keyframes flash {
  0% { opacity:1; }
  30% { opacity:1; }
  40% { opacity:1; }
  47% { opacity:0; }
  48% { opacity:1; }
  49% { opacity:0; }
  50% { opacity:1; }
  70% { opacity:1; }
  85% { opacity:1; }
  89% { opacity:0; }
  90% { opacity:1; }
  /* 91% { opacity:0; } */
  92% { opacity:1; }
  94% { opacity:0; }
  96% { opacity:1; }
  98% { opacity:0; }
  100% { opacity:1; }
}

/* :root {
  --bg-color-primary: #E32943;
  --bg-color-secondary: #E3CC0D;
  --bg-color-primary2: #2D2C48;
  --bg-color-primary3: #E43416;
} */

.cover-container {
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: url(/src/components/cover/cover_background.svg);
}

.App {
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: url(/src/components/discography/disck_background2.svg);
}
.crew-container {
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: url(/src/components/crew/blob-scatter-haikei.svg);
}

.vibe-banner {
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: url(/src/components/vibe/vibe_pic.png);
}
.title {
   font-family: "titleFont";   
}

.overlay {
 width:100%; 
  opacity:1;
  animation: flash 5s ease-in infinite;
  animation-delay: 1s;
}


.banner-container::-webkit-scrollbar {   display: none; }.banner-container {   -ms-overflow-style: none; }

@layer components {
  .nav-container {
    @apply justify-end fixed h-auto w-full text-set2-sixth top-10 justify-self-end pr-44 transition-all duration-700 ease-in-out
  }
  .btn {
    @apply inline cursor-pointer hover:text-set2-third transition-all duration-300 ease-linear shadow-2xl
  }
  .record-img {
    @apply transform hover:scale-105 transition-all duration-300 ease-linear
  }
}