@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'titleFont';
  /* src: local('BomberEscortGradient'), url(/src/fonts/BomberEscortGradient.otf); */
  /* src: local('BomberEscortGradientOutlineItalic'), url(/src/fonts/BomberEscortOutlineItalic.otf); */
  src: local('DarkSeed'), url(/src/fonts/DarkSeed.ttf) format('truetype');
  /* src: local('Spantaran'), url(/src/fonts/Spantaran.ttf) format('truetype'); */
}

@keyframes flash {
  9% { opacity:0; }
  10% { opacity:1; }
  11% { opacity:0; }
  49% { opacity:0; }
  50% { opacity:1; }
  51% { opacity:0; }
  89% { opacity:0; }
  90% { opacity:1; }
  91% { opacity:0; }
  92% { opacity:0; }
  93% { opacity:1; }
  94% { opacity:0; }
}

.title {
   font-family: "titleFont";   
}

.overlay {
 width:100%; 
 /* background:url('https://contentservice.mc.reyrey.net/image_v1.0.0/?id=c0ebc376-4482-5e72-928d-4105db105a5a&637578074884879303'); */
  opacity:0;
  animation:flash 5s linear infinite;
}
